/* purgecss start ignore */
@tailwind base;
@tailwind components;
/* purgecss end ignore */

@tailwind utilities;

.prism-code {
  overflow-x: scroll;
  float: left;
  min-width: 100%;
  width: 40vw;
  margin-bottom: 2rem;
}

code {
  background: #011627;
  color: white;
  padding: 1px;
  border-radius: 4px;
}
